/*
 * BCGov Style
 * This globally extends the base Vuetify style
 */

// Variables
$bcgov-blue: #003366;
$bcgov-blue-secondary: #38598a;
$bcgov-orange: #fcba19;
$bcgov-grey: #efefef;
$bcgov-font: #494949;

// Sticky Footer
body {
  display: flex;
  flex-direction: column;
  & > .v-content {
    flex: 1 0 auto;
  }
}

// Typography
.v-application {
  font-family: -apple-system, BlinkMacSystemFont, BCSans, Roboto, Verdana, Arial, sans-serif !important;
  line-height: 1.4;
  font-size: 0.875rem;
}

h1 { font-size: 1.9em;  }
h2 { font-size: 1.7em;  }
h3 { font-size: 1.3em;  }
h4 { font-size: 1.05em;  }

h1, h2, h3, h4, h5 {
  color: $bcgov-font;
  line-height: 1.2;
}

p {
  color: $bcgov-font;
  line-height: 1.4;
}

// Horizontal Rule
hr {
  border-top: 1px solid lightgrey;
  margin-bottom: 1em;
  .orange {
    border-top: 2px solid $bcgov-orange;
  }
}

// Anchor and Tab Behavior
a, .v-tab {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    button {
      display: inline-block;
      text-decoration: none;
    }
  }
}

// General Button Style Extensions
.v-btn {
  span > span {
    font-weight: bold;
  }

  &:hover {
    opacity: 0.8;
    span > span {
      text-decoration: underline;
    }
  }

  &.v-btn--disabled {
    background-color: #eee;
    color: #777;
  }

  &.v-btn--outlined {
    &.theme--light {
      border: 2px solid #003366;
    }

    &.theme--dark {
      border: 2px solid #fff;
    }
  }
}

// Stepper
.silv-stepper {
  .header-row{
    background-color: $bcgov-grey !important;
  }
  &.v-stepper--alt-labels {
    .v-stepper__step {
      padding-left: 0;
      padding-right: 0;
      .v-stepper__label {
        color: $bcgov-font;
        font-size: .75em;
      }
      &.v-stepper__step--active {
        .v-stepper__label{
          color: $bcgov-font;
          font-weight: bold;
        }
      }
    }
  }
}

// Cards
.silv-info-card {
  background-color: $bcgov-grey !important;
  .v-icon {
    color: $bcgov-blue-secondary !important;
    margin-right: .5em;
  }
  ul {
    padding-left: 4em !important;
  }
}

.silv-contact-card {
  background-color: $bcgov-blue-secondary !important;
  h3 {
    color: white !important;
  }
  p {
    color: white !important;
  }
  .v-icon {
    color: white !important;
    margin-right: .5em;
  }
}

.silv-warning-card {
  background-color: $bcgov-orange !important;
  .v-icon {
    color: black !important;
  }
}

.silv-required::after {
  content: "*";
  color: rgb(216, 41, 47);
  margin-left: .2em;
}
